<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="margin-right:1em; z-index: 1;">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <i class="fa fa-bars fa-lg"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
        {% comment %} Home link with active detection {% endcomment %}
        {% assign is_home = page.url == "/" or page.url == "/index.html" or page.url == "" or page.active == "home" %}
        {% if is_home %}
          <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% endif %}

        {% for nav_hash in site.nav %}
          {% for nav_item in nav_hash %}
            {% assign lowercase_nav_item = nav_item[0] | downcase %}
            {% if page.active == lowercase_nav_item or page.url == nav_item[1] %}
              <li class="active"><a href="{{ nav_item[1] }}">{{ nav_item[0] }}</a></li>
            {% else %}
              <li><a href="{{ nav_item[1] }}">{{ nav_item[0] }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
